<h1><%= @brand.name() %></h1>
 <div>
   <h3>Distributors with <%= @brand.name() %>:</h3>
   <% if @brand.distributors.any? %>
   <ul>
     <% @brand.distributors.each() do |distributor| %>
     <li><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  <a href='/distributors/<%= distribiutor.id() %>'><%= distributor.name() %></a></li>
     <% end %>
   </ul>
   <% else %>
   <p><strong>There are currently no brands for this distributor.</strong></p>
   <br>
   <% end %>

   <h3>Edit Brand Name:</h3>
   <form action="/brands/<%= @brand.id() %>" method="post">
     <input type="hidden" name="_method" value="patch">
     <div class="form-group">
       <label for="name">Name:</label>
       <input type="text" name="name" value="<%= @brand.name() %>">
     </div>
     <button type="submit" class="btn">Edit</button>

   </form>
  <form action="/brands/<%= @brand.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete <%= @brand.name() %></button>
  </form>
 </div>
