<h1><%= @distributor.name() %></h1>
 <ul>
   <li>Address: <%= @distributor.address() %></li>
   <li>Telephone: <%= @distributor.tel() %></li>
 </ul>
 <li>Address:
     <% if @distributor.address().!=("\n, ").&(@distributor.address().!=('')) %>
     <%= @distributor.address() %>
     <% else %>
     no address for this distributor
     <% end %>
   </li>
   <li>Telephone:
     <% if @distributor.phone().!=('') %>
     <%= @distributor.phone() %>
     <% else %>
     no Tel no for this distributor number given
     <% end %>
   </li>
 <ul>

   <% if @distributor.brands.any? %>
   <h3>Brands Available at <%= @distributor.name() %>:</h3>
   <ul>
     <% @distributor.brands.each() do |brand| %>
     <li><%= brand.name() %></li>
     <% end %>
   </ul>
   <% else %>
   <p>No brands assigned to this distributor currently</p>
   <br>
   <% end %>

<button class="btn"<a href='/distributors/<%= @distributor.id() %>/edit'>Update Distrubutor Details</a></button>
   <li><a href='/distributors'>Back to Distributors</a></li>
   <li><a href='/distributors/new'>Add a New Distributor</a></li>
 </ul>
